@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


input {
  padding: 10px 10px;
}
input:active {
  border: 1.3px solid #285ff4;
  outline: 1.3px solid #285ff4;
}
input:focus {
  border: 1.3px solid #285ff4;
  outline: 1.3px solid #285ff4;
}
a {
  color: #285ff4;
  /* font-size: 13px; */
  font-weight: 500;
}
